{% extends "cancer/layoutout.html" %}

{% block body %}
{% load static %}
<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
                What We Do
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Cutting-Edge Research: We conduct pioneering research to understand the molecular and genetic basis of cancer. Our work spans basic science, translational research, and clinical trials, aiming to turn discoveries into real-world treatments.</li>
              <li><i class="ri-check-double-line"></i> Collaborative Efforts: Collaboration is at the heart of our approach. We partner with universities, hospitals, and research institutions worldwide to share knowledge, resources, and expertise.</li>
              <li><i class="ri-check-double-line"></i> Educational Outreach: We are committed to educating the next generation of researchers and clinicians. Through seminars, workshops, and publications, we disseminate knowledge and foster a community of learning.

              </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
                Since our founding, the UZIMA CONNECT CENTRE has made significant contributions to the field of oncology. Our discoveries have led to new treatments, improved diagnostic techniques, and better patient outcomes. We continue to push the boundaries of what is possible, driven by the hope of a world without cancer.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
{% endblock %}