{% extends "cancer/layoutout.html" %}

{% block body %}
{% load static %}
  
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>You can Contact Us Through</p>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d15955.216023644813!2d36.80716774725989!3d-1.2919823291316568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d-1.2887994!2d36.8162689!4m5!1s0x182f1172d84d49a7%3A0xf7cf0254b297924c!2snairobi!3m2!1d-1.2920658999999999!2d36.8219462!5e0!3m2!1sen!2ske!4v1717749755472!5m2!1sen!2ske" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Nairobi, Kenya</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@uzimacenter.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+254 70000000</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="{% url 'contact' %}" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form.name }}
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    {{ form.email }}
                </div>
            </div>
            <div class="form-group mt-3">
                {{ form.subject }}
            </div>
            <div class="form-group mt-3">
                {{ form.message }}
            </div>
            <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->
  {% endblock %}