{% extends "cancer/layoutout.html" %}

{% block body %}
{% load static %}
<div style="display: flex; justify-content: center; align-items: center; height: 300vh; flex-direction: column; background-color:pink;">
    <h1>Uzima Connect Cancer Research Center</h1>
    <form method="GET" action="{% url 'publications' %}" style="display: flex; flex-direction: column; align-items: center;">
        <label for="keyword" style="margin-bottom: 10px;">Enter On Cancer:</label>
        <input type="text" id="keyword" name="keyword" value="" style="margin-bottom: 10px; padding: 5px; width: 600px; border-radius: 1rem;">
        <button type="submit" style="padding: 5px 10px; background-color: #04AA6D;" class="btn btn-primary btn-lg">Search</button>
    </form>


    {% if error %}
        <p>Error: {{ error }}</p>
    {% else %}
        {% if publications %}
            <h2>Results for "{{ keyword }}"</h2>
            <ul>
                {% for publication in publications %}
                    <li>
                        <h3><a href="{{ publication.link }}" target="_blank" style="color:#280a2c;">{{ publication.title }}</a></h3>
                        <p><strong>Authors:</strong> {{ publication.author }}</p>
                        <p><strong>Journal:</strong> {{ publication.journal }}</p>
                        <p><strong>Abstract:</strong> {{ publication.abstract }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No publications found for "{{ keyword }}".</p>
        {% endif %}
    {% endif %}

</div>
{% endblock %}
